.projects {
  display: flex;
  flex-direction: column;

  padding-bottom: 40px;
}

.projects__title {
  width: 100%;
  text-align: center;

  margin-bottom: 40px;
  color: var(--orange);
  font-size: 50px;
}
